.navBar{
  width: 100%;
  height: auto;
  background-color: #aaaaaa;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
nav{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

nav a{
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 5px;
  background-color: #aaaaaa;
}

nav a:hover{
 background-color: #666666; 
}
